server:
  port: 8082

spring:
  application:
    name: order-service
  cloud:
    vault:
      uri: http://vault:8200
      token: order-service-token
      kv:
        enabled: true
        backend: kv
        profile-separator: /
        application-name: order-service
      fail-fast: false
      authentication: TOKEN
    openfeign:
      circuitbreaker:
        enabled: true
  config:
    import: "vault://"

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

resilience4j:
  circuitbreaker:
    instances:
      user-service:
        register-health-indicator: true
        sliding-window-size: 10
        minimum-number-of-calls: 5
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 10s
        failure-rate-threshold: 50
        event-consumer-buffer-size: 10

  retry:
    instances:
      user-service:
        max-attempts: 3
        wait-duration: 2s

  timelimiter:
    instances:
      user-service:
        timeout-duration: 5s

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,circuitbreakers
  endpoint:
    health:
      show-details: always
