server:
  port: 8083

spring:
  application:
    name: product-service
  config:
    import: "vault://"
  cloud:
    vault:
      uri: http://vault:8200
      token: ${VAULT_TOKEN:product-service-token}
      fail-fast: true
      authentication: TOKEN
      kv:
        enabled: true
        backend: kv
        profile-separator: /
        application-name: product-service
  datasource:
    url: ${database.url}
    driver-class-name: org.h2.Driver
    username: ${database.username}
    password: ${database.password}
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
