server:
  port: 8081

spring:
  application:
    name: user-service
  cloud:
    vault:
      uri: http://vault:8200
      token: ${VAULT_TOKEN:user-service-token}
      kv:
        enabled: true
        backend: kv
        profile-separator: /
        application-name: user-service
      fail-fast: false
      authentication: TOKEN
    openfeign:
      circuitbreaker:
        enabled: true
  datasource:
    url: ${database.url}
    driver-class-name: org.h2.Driver
    username: ${database.username}
    password: ${database.password}
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
